# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

# Build artifacts
build
build/test/

# Emacs
*~
\#*#

# Git
*.~*~

# diff test files
*.txt

# images
*.png
*.jpg
*.jpeg
*.gif
